
header{
    background-color: #bbbbbb;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; /* arriba, derecha, abajo, izquierda espaciamiento del texto */
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /* sin decoracion de texto */
}

nav a:hover{
    color: #334efe;
    text-decoration: underline; /* subrayado */

} /* captura el movimiento del mouse y le da otro locor cuando pasan por encima */


footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.inputpadron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px; /* 10 superior inferior, 25 costados */
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
     transition: 1s all; /*para todas las propiedades de */
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.1) rotate(5deg);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}